/*      PARENT THEME     */
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,700);
button, input[type="submit"], input[type="button"] { -webkit-font-smoothing: antialiased; background-color: #767676; border-radius: 0; color: white; display: inline-block; font-size: 1em; font-weight: 600; font-family: "Roboto", Roboto arial, sans-serif; line-height: 1; text-decoration: none; text-align: center; padding: 0.809em 4em; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; }
@media screen and (max-width: 768px) { button, input[type="submit"], input[type="button"] { padding: 0.809em 1em; } }
button:hover, input[type="submit"]:hover, input[type="button"]:hover { background-color: #383838; color: white; }

body { -webkit-font-smoothing: antialiased; background-color: white; color: #909090; font-family: "Roboto", Roboto arial, sans-serif; font-size: 1em; line-height: 1.5; }

h1, h2, h3, h4, h5, h6 { font-family: "Roboto", Roboto arial, sans-serif; line-height: 1.25em; margin: 0; text-rendering: optimizeLegibility; font-weight: 400; color: #383838; }

.subtitle, .subheading { color: #383838; }

h1 { font-size: 2.25em; }

h2 { font-size: 2em; }

h3 { font-size: 1.75em; }

h4 { font-size: 1.5em; }

h5 { font-size: 1.25em; }

h6 { font-size: 1em; }

p { margin: 0 0 0.75em; }

a { -webkit-transition: color 0.1s linear; -moz-transition: color 0.1s linear; transition: color 0.1s linear; color: #d02630; text-decoration: none; }
a:hover { color: #8f1a21; }
a:active, a:focus { color: #8f1a21; outline: none; }

hr { border-bottom: 1px solid #c8c8c8; border-left: none; border-right: none; border-top: none; margin: 1.5em 0; }

blockquote { font-family: "Roboto", Roboto arial, sans-serif; border-left: 2px solid #c8c8c8; color: #b6b6b6; margin: 1.5em 0; padding-left: 0.75em; }

cite { color: #d0d0d0; font-style: italic; }

strong, b { font-family: "Roboto", Roboto arial, sans-serif; font-weight: 800; }

fieldset { background: #e2e2e2; border: 1px solid #c8c8c8; margin: 0 0 0.75em 0; padding: 1.5em; }

input, label, select { display: block; font-family: "Roboto", Roboto arial, sans-serif; font-size: 1em; }

label { font-weight: bold; margin-bottom: 0.375em; }
label.required:after { content: "*"; }
label abbr { display: none; }

textarea, input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"], select[multiple=multiple] { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-transition: border-color; -moz-transition: border-color; transition: border-color; background-color: white; border-radius: 0; border: 1px solid #c8c8c8; box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06); font-family: "Roboto", Roboto arial, sans-serif; font-size: 1em; margin-bottom: 0.75em; padding: 0.5em 0.5em; width: 100%; }
textarea:hover, input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover, select[multiple=multiple]:hover { border-color: #afafaf; }
textarea:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, select[multiple=multiple]:focus { border-color: #909090; box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(131, 131, 131, 0.7); outline: none; }

textarea { resize: vertical; }

input[type="search"] { -webkit-appearance: none; -moz-appearance: none; -ms-appearance: none; -o-appearance: none; appearance: none; }

input[type="checkbox"], input[type="radio"] { display: inline; margin-right: 0.375em; }

input[type="file"] { margin-bottom: 0.75em; padding-bottom: 0.5em; width: 100%; }

select { width: auto; max-width: 100%; margin-bottom: 1.5em; }

table { border-collapse: collapse; margin: 0.75em 0; table-layout: fixed; width: 100%; }

th { border-bottom: 1px solid #a2a2a2; font-weight: bold; padding: 0.75em 0; text-align: left; }

td { border-bottom: 1px solid #c8c8c8; padding: 0.75em 0; }

tr, td, th { vertical-align: middle; }

ul, ol { margin: 0; padding: 0; list-style-type: none; }
dl { margin-bottom: 0.75em; }
dl dt { font-weight: bold; margin-top: 0.75em; }
dl dd { margin: 0; }

ul.inline.padded li { padding: 1em; }
ul.inline li { display: inline-block; float: left; }

button, input[type="submit"], input[type="button"] { -webkit-appearance: none; -moz-appearance: none; -ms-appearance: none; -o-appearance: none; appearance: none; border: none; cursor: pointer; user-select: none; vertical-align: middle; white-space: nowrap; text-transform: uppercase; margin: 0; }
button.big, input[type="submit"].big, input[type="button"].big { font-size: 2em; padding: 0.4em 3em; }
button.big:after, input[type="submit"].big:after, input[type="button"].big:after { margin: 0em -0.5em 0.2em 1em; }

.cta:after { display: inline; margin: 0; margin-left: 0.5em; }

button.cta:after { vertical-align: middle; display: inline-block; margin: 0em 1em 0.4em; }

body { margin: 0; max-width: 100%; overflow-x: hidden; }

figure { margin: 0; background: #eee; float: left; padding: .5em; }

figcaption { color: #555; }

code { background-color: #eee; background-color: rgba(0, 0, 0, 0.05); }

hr { clear: both; display: block; float: left; width: 100%; margin: 1em 0; }

img { margin: 0; max-width: 100%; height: auto; }

a img { border: none; }

sup, sub { vertical-align: baseline; position: relative; top: -0.4em; }

sub { top: 0.4em; }

* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

/* Classes */
body { background-color: #e2e2e2; }

.page-wrapper { clear: both; max-width: 1125px; background-color: #fff; overflow: hidden; position: relative; padding: 0 40px; }
@media screen and (max-width: 782px) { .page-wrapper { padding-top: 0; } }
.page-wrapper.light-gray { background-color: #fafafa; }

#wpstats { display: none; }

.bg-image { display: block; float: left; background-repeat: no-repeat; background-size: cover; background-position: center; }

/** 4.0 GRID ---------------------------------------------------------------------------- Most of the Grid setup happens in Neat (scss/thoughtbot/neat) but the actual grid styles are applied here */
.column, .columns { float: left; display: block; }

.large-11 { float: left; display: block; margin-right: 1.35446%; width: 91.5538%; }
.large-11:last-child { margin-right: 0; }

.large-10 { float: left; display: block; margin-right: 1.35446%; width: 83.10759%; }
.large-10:last-child { margin-right: 0; }
@media screen and (max-width: 1024px) { .large-10 { float: left; display: block; margin-right: 1.35446%; width: 100%; }
  .large-10:last-child { margin-right: 0; } }

.large-9 { float: left; display: block; margin-right: 1.35446%; width: 74.66139%; }
.large-9:last-child { margin-right: 0; }

.large-8 { float: left; display: block; margin-right: 1.35446%; width: 66.21518%; }
.large-8:last-child { margin-right: 0; }
@media screen and (max-width: 1024px) { .large-8 { float: left; display: block; margin-right: 1.35446%; width: 100%; }
  .large-8:last-child { margin-right: 0; } }

.large-7 { float: left; display: block; margin-right: 1.35446%; width: 57.76898%; }
.large-7:last-child { margin-right: 0; }
@media screen and (max-width: 1024px) { .large-7 { float: left; display: block; margin-right: 1.35446%; width: 100%; }
  .large-7:last-child { margin-right: 0; } }

.large-6 { float: left; display: block; margin-right: 1.35446%; width: 49.32277%; }
.large-6:last-child { margin-right: 0; }
@media screen and (max-width: 1024px) { .large-6 { float: left; display: block; margin-right: 1.35446%; width: 100%; }
  .large-6:last-child { margin-right: 0; } }

.large-5 { float: left; display: block; margin-right: 1.35446%; width: 40.87657%; }
.large-5:last-child { margin-right: 0; }
@media screen and (max-width: 1024px) { .large-5 { float: left; display: block; margin-right: 1.35446%; width: 100%; }
  .large-5:last-child { margin-right: 0; } }

.large-4 { float: left; display: block; margin-right: 1.35446%; width: 32.43036%; }
.large-4:last-child { margin-right: 0; }
@media screen and (max-width: 1024px) { .large-4 { float: left; display: block; margin-right: 1.35446%; width: 100%; }
  .large-4:last-child { margin-right: 0; } }

.large-3 { float: left; display: block; margin-right: 1.35446%; width: 23.98416%; }
.large-3:last-child { margin-right: 0; }
@media screen and (max-width: 1024px) { .large-3 { float: left; display: block; margin-right: 1.35446%; width: 100%; }
  .large-3:last-child { margin-right: 0; } }

.large-2 { float: left; display: block; margin-right: 1.35446%; width: 15.53795%; }
.large-2:last-child { margin-right: 0; }
@media screen and (max-width: 1024px) { .large-2 { float: left; display: block; margin-right: 1.35446%; width: 100%; }
  .large-2:last-child { margin-right: 0; } }

.large-1 { float: left; display: block; margin-right: 1.35446%; width: 7.09175%; }
.large-1:last-child { margin-right: 0; }
@media screen and (max-width: 1024px) { .large-1 { float: left; display: block; margin-right: 1.35446%; width: 100%; }
  .large-1:last-child { margin-right: 0; } }

.medium-10 { float: left; display: block; margin-right: 1.35446%; width: 83.10759%; }
.medium-10:last-child { margin-right: 0; }
@media screen and (max-width: 768px) { .medium-10 { float: left; display: block; margin-right: 1.35446%; width: 100%; }
  .medium-10:last-child { margin-right: 0; } }

.medium-9 { float: left; display: block; margin-right: 1.35446%; width: 74.66139%; }
.medium-9:last-child { margin-right: 0; }
@media screen and (max-width: 768px) { .medium-9 { float: left; display: block; margin-right: 1.35446%; width: 100%; }
  .medium-9:last-child { margin-right: 0; } }

.medium-8 { float: left; display: block; margin-right: 1.35446%; width: 66.21518%; }
.medium-8:last-child { margin-right: 0; }
@media screen and (max-width: 768px) { .medium-8 { float: left; display: block; margin-right: 1.35446%; width: 100%; }
  .medium-8:last-child { margin-right: 0; } }

.medium-7 { float: left; display: block; margin-right: 1.35446%; width: 57.76898%; }
.medium-7:last-child { margin-right: 0; }
@media screen and (max-width: 768px) { .medium-7 { float: left; display: block; margin-right: 1.35446%; width: 100%; }
  .medium-7:last-child { margin-right: 0; } }

.medium-6 { float: left; display: block; margin-right: 1.35446%; width: 49.32277%; }
.medium-6:last-child { margin-right: 0; }
@media screen and (max-width: 768px) { .medium-6 { float: left; display: block; margin-right: 1.35446%; width: 100%; }
  .medium-6:last-child { margin-right: 0; } }

.medium-5 { float: left; display: block; margin-right: 1.35446%; width: 40.87657%; }
.medium-5:last-child { margin-right: 0; }
@media screen and (max-width: 768px) { .medium-5 { float: left; display: block; margin-right: 1.35446%; width: 100%; }
  .medium-5:last-child { margin-right: 0; } }

.medium-4 { float: left; display: block; margin-right: 1.35446%; width: 32.43036%; }
.medium-4:last-child { margin-right: 0; }
@media screen and (max-width: 768px) { .medium-4 { float: left; display: block; margin-right: 1.35446%; width: 100%; }
  .medium-4:last-child { margin-right: 0; } }

.medium-3 { float: left; display: block; margin-right: 1.35446%; width: 23.98416%; }
.medium-3:last-child { margin-right: 0; }
@media screen and (max-width: 768px) { .medium-3 { float: left; display: block; margin-right: 1.35446%; width: 100%; }
  .medium-3:last-child { margin-right: 0; } }

.medium-2 { float: left; display: block; margin-right: 1.35446%; width: 15.53795%; }
.medium-2:last-child { margin-right: 0; }
@media screen and (max-width: 768px) { .medium-2 { float: left; display: block; margin-right: 1.35446%; width: 100%; }
  .medium-2:last-child { margin-right: 0; } }

@media screen and (min-width: 1025px) { .shift-large { margin-left: 8.4462%; }
  .large-shift-2 { margin-left: 16.89241%; }
  .large-shift-3 { margin-left: 25.33861%; }
  .large-shift-4 { margin-left: 33.78482%; }
  .large-shift-5 { margin-left: 42.23102%; }
  .large-shift-6 { margin-left: 50.67723%; }
  .large-shift-7 { margin-left: 59.12343%; }
  .large-shift-8 { margin-left: 67.56964%; }
  .large-shift-9 { margin-left: 76.01584%; }
  .large-shift-10 { margin-left: 84.46205%; }
  .large-shift-11 { margin-left: 92.90825%; } }
@media screen and (max-width: 1024px) and (min-width: 1025px) { .shift-medium { margin-left: 8.4462%; } }

@media screen and (max-width: 1024px) { .medium-shift-2 { margin-left: 16.89241%; }
  .medium-shift-3 { margin-left: 25.33861%; }
  .medium-shift-4 { margin-left: 33.78482%; }
  .medium-shift-5 { margin-left: 42.23102%; }
  .medium-shift-6 { margin-left: 50.67723%; }
  .medium-shift-7 { margin-left: 59.12343%; }
  .medium-shift-8 { margin-left: 67.56964%; }
  .medium-shift-9 { margin-left: 76.01584%; }
  .medium-shift-10 { margin-left: 84.46205%; }
  .medium-shift-11 { margin-left: 92.90825%; } }
/** 4.5 Layout,Positioning & Visibility Classes ---------------------------------------------------------------------------- */
.flex-grid { list-style: none; margin: auto; padding: auto; display: -webkit-flex; display: flex; }
.flex-grid.center { -webkit-justify-content: center; justify-content: center; }
.flex-grid.flex-wrap { -webkit-flex-wrap: wrap; flex-wrap: wrap; }

.lte-ie9 .flex-grid { display: auto; }
.lte-ie9 .flex-grid > * { float: left; }

.clearfix:after { content: ""; display: table; clear: both; }

.assistive-text { display: none; }

.hide { display: none; }

@media screen and (max-width: 1024px) { .hide-for-tablet { display: none !important; } }

@media screen and (max-width: 768px) { .hide-for-medium { display: none !important; } }

@media screen and (max-width: 1024px) { .hide-for-mobile { display: none !important; } }

@media screen and (max-width: 480px) { .hide-for-small { display: none !important; } }

.relative { position: relative; }

.is-campaign-landing .hide-for-campaign-landing { display: none; }
.is-campaign-landing .hide-for-campaign-landing.active-tab { display: none; }

.show-for-campaign-landing { display: none; }

.is-campaign-landing .show-for-campaign-landing { display: initial; }

.show-for-medium-and-small { display: none !important; }
@media screen and (max-width: 768px) { .show-for-medium-and-small { display: block !important; } }

@media screen and (max-width: 768px) { .hide-for-medium-and-small { display: none !important; } }

.show-for-mobile-only { display: none !important; }
@media screen and (max-width: 1024px) { .show-for-mobile-only { display: block !important; } }

.show-for-small-only { display: none !important; }
@media screen and (max-width: 480px) { .show-for-small-only { display: block !important; } }

@media screen and (max-width: 480px) { .hide-for-small { display: none !important; } }

@media screen and (min-width: 480px) { .one-half { float: left; display: block; box-sizing: border-box; width: 50%; padding-right: 1em; } }

@media screen and (min-width: 1024px) { .two-column { -webkit-columns: 2; -moz-columns: 2; columns: 2; }
  .two-column li { break-inside: avoid-column; -webkit-column-break-inside: avoid; -moz-column-break-inside: avoid; column-break-inside: avoid; -webkit-page-break-inside: avoid; -moz-page-break-inside: avoid; page-break-inside: avoid; } }

@media screen and (min-width: 1024px) { .three-column { -webkit-columns: 3; -moz-columns: 3; columns: 3; }
  .three-column li { break-inside: avoid-column; -webkit-column-break-inside: avoid; -moz-column-break-inside: avoid; column-break-inside: avoid; -webkit-page-break-inside: avoid; -moz-page-break-inside: avoid; page-break-inside: avoid; } }

@media screen and (min-width: 1024px) { .four-column { -webkit-columns: 4; -moz-columns: 4; columns: 4; }
  .four-column li { break-inside: avoid-column; -webkit-column-break-inside: avoid; -moz-column-break-inside: avoid; column-break-inside: avoid; -webkit-page-break-inside: avoid; -moz-page-break-inside: avoid; page-break-inside: avoid; } }

.margin-horizontal { margin: 0 2em; }

.margin-vertical { margin: 2em 0; }

.margin-top { margin-top: 3em; }

.margin-right { margin-right: 2em; }

.margin-bottom { margin-bottom: 3em; }

.margin-left { margin-left: 2em; }

.pad-horizontal { padding: 0 2em; }

.pad-vertical { padding: 2em 0; }

.pad-top { padding-top: 2em; }

.pad-right { padding-right: 2em; }

.pad-bottom { padding-bottom: 2em; }

.pad-left { padding-left: 2em; }

.alignleft { float: left; margin: 0 1em 1em 0; }

.alignright { float: right; margin: 0 0 1em 1em; }

.aligncenter { text-align: center; margin: 0 auto 1em; display: block; }
.aligncenter:after { content: ""; display: table; clear: both; }

.alignnone:after { content: ""; display: table; clear: both; }

.large-right { float: left; }
@media screen and (min-width: 1024px) { .large-right { float: right; } }

@media screen and (min-width: 1024px) { .outer.container > .description, .outer.container > .slide-content { padding: 0 8%; }
  .outer.container.center-text > p { padding: 0 8%; } }
/** 4.75 Content Container Base Position, Padding and Margin + hard-break-clearfix ---------------------------------------------------------------------------- */
.container.outer { max-width: 75em; margin-left: auto; margin-right: auto; }
.container.outer:after { content: ""; display: table; clear: both; }
@media screen and (max-width: 1240px) { .container.outer { padding-left: .75em; padding-right: .75em; } }
.container.main { width: 100%; float: left; }

.content { padding-top: 2em; padding-bottom: 3em; }
.content.with-sidebar .main { float: left; display: block; margin-right: 1.35446%; width: 74.66139%; }
.content.with-sidebar .main:last-child { margin-right: 0; }
@media screen and (max-width: 1024px) { .content.with-sidebar .main { float: left; display: block; margin-right: 1.35446%; width: 100%; }
  .content.with-sidebar .main:last-child { margin-right: 0; } }
.content.with-sidebar .sidebar { float: left; display: block; margin-right: 1.35446%; width: 23.98416%; }
.content.with-sidebar .sidebar:last-child { margin-right: 0; }
@media screen and (max-width: 1024px) { .content.with-sidebar .sidebar { float: left; display: block; margin-right: 1.35446%; width: 100%; }
  .content.with-sidebar .sidebar:last-child { margin-right: 0; } }

.row { padding-bottom: 2em; float: left; width: 100%; }
.row:after { content: ""; display: table; clear: both; }

.hard-break-clear-both { clear: both; }

/** 5.0 Type - alignment and spacing utility classes ---------------------------------------------------------------------------- */
.center-text { text-align: center; }

@media screen and (max-width: 1024px) { .center-text-on-mobile { text-align: center; } }

@media screen and (min-width: 1024px) { .center-text-on-desktop { text-align: center; } }

.center-text-at-full-width { text-align: center; }

@media screen and (min-width: 1024px) { .large-6 .center-text-at-full-width { text-align: initial; } }
.left-text { text-align: left; }

.right-text { text-align: right; }

.lowercase { text-transform: none; }

.quote p:before { content: "\201c"; display: inline; }
.quote p:after { content: "\201d"; display: inline; }

strong { opacity: .95; }

.featured { list-style-type: none; }
.featured li { border-top: 1px solid #ccc; line-height: 2; }
.featured li:before { content: "\002022"; color: #333; margin: 0 0.5em; }
.featured li:last-child { border-bottom: 1px solid #ccc; margin-bottom: 1em; }

.disc { list-style-type: disc; margin: 0 0 1em 1.5em; }

.circle { list-style-type: circle; margin: 0 0 1em 1.5em; }

.square { list-style-type: square; margin: 0 0 1em 1.5em; }

.decimal { list-style-type: decimal; margin: 0 0 1em 1.5em; }

.lower-alpha { list-style-type: lower-alpha; margin: 0 0 1em 1.5em; }

.upper-alpha { list-style-type: upper-alpha; margin: 0 0 1em 1.5em; }

.lower-roman { list-style-type: lower-roman; margin: 0 0 1em 1.5em; }

.upper-roman { list-style-type: upper-roman; margin: 0 0 1em 1.5em; }

.announcement-container { position: relative; float: left; width: 100%; overflow: visible; z-index: 3; }

.announcement-banner { position: absolute; width: 0; float: left; clear: both; padding: 0; background-color: #fff; margin: -2.3em 0 0; font-weight: bold; height: 75px; -webkit-transform-origin: left top; -moz-transform-origin: left top; -ms-transform-origin: left top; -o-transform-origin: left top; transform-origin: left top; -webkit-transition: width 0.5s, background-color 0.5s, padding 0.5s; -moz-transition: width 0.5s, background-color 0.5s, padding 0.5s; transition: width 0.5s, background-color 0.5s, padding 0.5s; }
.announcement-banner label { color: #fff; }
.announcement-banner.ready { background-color: #d02630; padding: 1em; width: 100%; }
.announcement-banner:hover { background-color: #a51e26; }
.announcement-banner:hover .dismiss { opacity: 1; }
.announcement-banner .modal { position: absolute; overflow: visible; width: 96%; }
.announcement-banner .modal .modal-inner { height: 50%; margin-top: 10%; height: 50vh; margin-top: 10vh; }
.announcement-banner .modal .modal-trigger { width: 100%; float: left; display: inline-block; }
.announcement-banner .dismiss { opacity: 0; -webkit-transition: opacity 0.3s; -moz-transition: opacity 0.3s; transition: opacity 0.3s; text-align: right; position: absolute; display: block; float: right; padding: 1.9em 1em .2em 1em; z-index: 2; right: 0; top: 0px; height: 100%; font-weight: 100; color: #fff; background-color: #7a161c; }
.announcement-banner .dismiss:before { content: "\00d7"; color: #fff; float: left; margin-right: 4px; }

.job-manager-form fieldset { background: #fff; color: #383838; }
.job-manager-form fieldset small.description { font-size: 1em; }
.job-manager-form fieldset .input-checkbox { float: left; max-width: 5%; }
.job-manager-form fieldset small.description.checkbox-description { display: inline; float: left; margin-top: 0; line-height: 1.4; max-width: 95%; }

ul.job_listings li.job_listing a div.position { width: 30%; padding-left: 0; }
ul.job_listings li.job_listing a div.position * { font-weight: 800; }
ul.job_listings li.job_listing a div.job_description { float: left; max-width: 50%; }
ul.job_listings li.job_listing a ul.meta { width: 20%; }

h1, h2, h3 { color: #383838; line-height: 1.4; }

h2 { font-size: 1.4em; }

h3 { font-size: 1.3em; }

h4, h5, h6 { color: #d02630; font-weight: 100; font-size: 1.2em; line-height: 1.4; margin-bottom: .8em; }

main { font-size: 14px; }

.footer { background-color: #383838; width: 100%; max-width: 1125px; padding-bottom: 0; color: #fff; padding: 10px 34px; }
.footer #copyright { float: left; text-align: left; padding: 1em; font-size: .8em; }
@media screen and (max-width: 480px) { .footer #copyright { text-align: center; float: left; font-size: .6em; margin-top: 1em; width: 100%; } }
.footer #footer-menu { float: right; text-align: right; font-size: .8em; }
.footer #footer-menu .menu-footer-menu-container ul li.menu-item { display: inline-block; float: left; padding: 1em; background-color: #383838; -webkit-transition: background-color 0.3s; -moz-transition: background-color 0.3s; transition: background-color 0.3s; }
.footer #footer-menu .menu-footer-menu-container ul li.menu-item a { color: #c8c8c8; }
.footer #footer-menu .menu-footer-menu-container ul li.menu-item:hover { background-color: #292828; }
.footer #footer-menu .menu-footer-menu-container ul li.menu-item.current-menu-item a { color: #909090; }
@media screen and (max-width: 480px) { .footer #footer-menu { float: none; }
  .footer #footer-menu .menu-footer-menu-container ul li.menu-item { width: 100%; text-align: center; padding: 8px; } }

#site-logo { margin-top: 1em; }
@media screen and (max-width: 768px) { #site-logo { width: 50%; margin: 1em auto; } }
@media screen and (max-width: 480px) { #site-logo { width: 80%; margin: 1em 10%; text-align: center; } }

#contact-info { text-align: right; float: right; margin-top: 1em; }
@media screen and (max-width: 768px) { #contact-info { width: 50%; margin: 1em auto; } }
@media screen and (max-width: 480px) { #contact-info { width: 100%; margin: 1em auto; text-align: center; } }
#contact-info .phone { color: #383838; font-size: 1.2em; }

.primary-nav { position: relative; z-index: 2; }
.primary-nav .menu-primary-menu-container { position: relative; width: 100%; float: left; clear: both; z-index: 999; background-color: #383838; }
.primary-nav .menu-primary-menu-container ul li.menu-item { display: inline-block; float: left; padding: 1em; background-color: #383838; -webkit-transition: background-color 0.3s; -moz-transition: background-color 0.3s; transition: background-color 0.3s; }
.primary-nav .menu-primary-menu-container ul li.menu-item a { color: #c8c8c8; }
.primary-nav .menu-primary-menu-container ul li.menu-item:hover { background-color: #292828; }
.primary-nav .menu-primary-menu-container ul li.menu-item.current-menu-item a { color: #909090; }
@media screen and (max-width: 480px) { .primary-nav .menu-primary-menu-container ul li.menu-item { width: 100%; text-align: center; padding: 8px; } }

.title-area { width: 100%; float: left; margin-bottom: 1em; }
.title-area h1, .title-area h2 { float: left; font-weight: 100; font-size: 1.5em; border-bottom: 4px solid #d02630; padding-bottom: 1em; }

.hero { display: block; position: relative; float: left; width: 100%; height: 500px; overflow: hidden; border: none; margin-bottom: 1em; }
.hero .slides { height: 100%; }
.hero .slides li.slide { height: 100%; }
.hero .bg-image { width: 100%; height: 100%; background-position: right center; }
.hero .slide-caption { position: absolute; z-index: 1; bottom: 0; min-width: 300px; width: 35%; max-width: 500px; background-color: #383838; padding: 2em 1.5em; margin-left: 4em; color: #c8c8c8; }
@media screen and (max-width: 1024px) { .hero .slide-caption { margin-left: 1em; padding: 1em; } }
.hero .slide-caption h1, .hero .slide-caption h2 { color: #fff; font-size: 1.3em; margin-bottom: 1em; }
.hero .flex-direction-nav { position: absolute; bottom: 30px; right: 30px; width: 100px; }
.hero .flex-direction-nav a { margin: 0; top: auto; left: auto; right: auto; display: block; float: left; position: relative; background-color: #383838; color: #fff; padding: 10px; }
.hero .flex-direction-nav a.flex-prev { left: 0; margin-right: 10px; }
.hero .flex-direction-nav a:before, .hero .flex-direction-nav a:after { color: inherit; line-height: .95; text-shadow: none; font-weight: 100; font-size: 25px; }
.hero:hover .flex-direction-nav a.flex-prev, .hero:hover .flex-direction-nav a.flex-next { left: 0; margin-right: 10px; }
@media screen and (max-width: 768px) { .hero .flex-direction-nav { position: absolute; top: 10px; right: 0; width: 100px; margin: 0 1.5em; } }

.job-list { margin-bottom: 1em; float: left; width: 100%; }
.job-list li a { padding: 1em 0; width: 100%; float: left; border-bottom: 1px solid #c8c8c8; -webkit-transition: color 0.3s, border-color 0.3s; -moz-transition: color 0.3s, border-color 0.3s; transition: color 0.3s, border-color 0.3s; }
.job-list li a:hover { color: #a51e26; border-bottom: 1px solid #383838; }

#akn_map { width: 100%; height: 400px; }

.modal label { cursor: pointer; margin-bottom: 0; }
.modal label img { border-radius: 150px; display: block; max-width: 300px; }
.modal .modal-state { display: none; }
.modal .modal-trigger { padding: 0.8em 1em; }
.modal .modal-fade-screen { -webkit-transition: opacity 0.25s ease; -moz-transition: opacity 0.25s ease; transition: opacity 0.25s ease; position: fixed; top: 0; right: 0; bottom: 0; left: 0; background-color: rgba(0, 0, 0, 0.85); opacity: 0; padding-top: 0.6em; text-align: left; visibility: hidden; z-index: 99999999999; }
@media screen and (min-width: 53.75em) { .modal .modal-fade-screen { padding-top: 10em; } }
.modal .modal-fade-screen .modal-bg { position: absolute; top: 0; right: 0; bottom: 0; left: 0; cursor: pointer; }
.modal .modal-close { position: absolute; top: 1.5em; right: 1.5em; height: 1.5em; width: 1.5em; background: white; cursor: pointer; }
.modal .modal-close:after, .modal .modal-close:before { position: absolute; top: 3px; right: 3px; bottom: 0; left: 50%; -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg); height: 1.5em; width: 0.15em; background: #909090; content: ''; display: block; margin: -3px 0 0 -1px; }
.modal .modal-close:hover:after, .modal .modal-close:hover:before { background: #767676; }
.modal .modal-close:before { -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -ms-transform: rotate(-45deg); -o-transform: rotate(-45deg); transform: rotate(-45deg); }
.modal .modal-inner { -webkit-transition: opacity 0.25s ease; -moz-transition: opacity 0.25s ease; transition: opacity 0.25s ease; background: white; border-radius: 0; margin-top: 0; margin: auto; max-height: 95%; overflow: auto; padding: 1.5em; position: relative; width: 95%; }
@media screen and (min-width: 40em) { .modal .modal-inner { max-height: 70%; padding: 3em; width: 60%; } }
@media screen and (min-width: 53.75em) { .modal .modal-inner { width: 50%; } }
.modal .modal-inner h1 { color: #909090; margin-bottom: 0 0 0.6em 0; text-align: left; text-transform: capitalize; }
.modal .modal-inner p { color: #909090; line-height: 1.5em; font-weight: 400; }
.modal .modal-inner .modal-intro { margin-bottom: 1em; }
.modal .modal-inner .modal-content { color: #909090; }
@media screen and (min-width: 40em) { .modal .modal-inner .modal-content { -webkit-columns: 2 8em; -moz-columns: 2 8em; columns: 2 8em; }
  .modal .modal-inner .modal-content li { break-inside: avoid-column; -webkit-column-break-inside: avoid; -moz-column-break-inside: avoid; column-break-inside: avoid; -webkit-page-break-inside: avoid; -moz-page-break-inside: avoid; page-break-inside: avoid; } }
.modal .modal-inner a.cta { color: white; display: inline-block; margin-right: 0.5em; margin-top: 1em; }
.modal .modal-inner a.cta:last-child { padding: 0 2em; }
.modal .modal-state:checked + .modal-fade-screen { opacity: 1; visibility: visible; }
.modal .modal-state:checked + .modal-fade-screen .modal-inner { top: 0.5em; }

.modal-open { overflow: hidden; }

.team-members { padding-top: 1em; list-style: none; }
.team-members h3 { margin-bottom: 1em; color: #909090; }
.team-members .team-member { float: left; width: 25%; padding-left: .5em; padding-right: .5em; padding-bottom: 1em; margin-bottom: 1.5em; }
@media screen and (max-width: 768px) { .team-members .team-member { width: 50%; } }
@media screen and (max-width: 480px) { .team-members .team-member { width: 100%; } }
.team-members .team-member h4 { color: #909090; font-weight: 100; margin-bottom: 0; }
.team-members .team-member .job-title { color: #d02630; width: 100%; float: left; display: inline-block; line-height: 2; border-bottom: 1px solid #c8c8c8; }
